body, html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
  color: white;
  text-transform: uppercase;
  border-radius: 300px;
}
.btn-primary:hover {
  background-color: #555555;
  border-color: #F05F44;
  border-width: 1px;
}
.btn-xl {
  padding: 1em 2em;
}

.buffer{
  height: 1em;
}

h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 100px;
  text-transform: uppercase;
}

hr {  
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 65px;
  opacity: 1;
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}